.element {
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.element:focus {
  outline-style: solid;
  outline-width: 2px;
  z-index: 9;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.content::before {
  align-self: flex-start;
  content: attr(data-number);
  display: block;
  flex: 0 0 auto;
  font-size: 10px;
  font-weight: 700;
  padding: 0;
  user-select: none;
}

.content::after {
  content: attr(data-name);
  display: block;
  flex: 0 0 auto;
  font-size: 10px;
  overflow: hidden;
  padding: 0;
  text-align: center;
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
}

.symbol {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 24px;
  justify-content: center;
  margin: 0;
  padding: 0;
  user-select: none;
}
