.dialog {
  max-height: 100%;
  padding-top: 0;
  min-width: 320px;
  transition:
    transform 0.25s ease-in-out,
    opacity 0.25s ease-in-out;
  margin-top: 0;
  overflow: auto;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8f9fa;
  padding: 32px;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .dialog {
    position: static;
    width: 33.33%;
    z-index: 1;
  }

  .header {
    display: none;
  }
}

.isOpen {
  opacity: 1;
  transform: translateX(0);
  pointer-events: auto;
}

.isClosed {
  opacity: 0;
  transform: translateX(100%);
  pointer-events: none;
}

.elementName {
  margin: 16px 0;
  padding: 0 8px;
}

.description {
  font-size: 14px;
  margin: 16px 0;
  padding: 0 8px;
}

.detailsList {
  font-size: 14px;
  margin: 16px 0;
  padding: 0 8px;
}

.detailsList dt {
  font-weight: bold;
}
